*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #2edfb3, #0072ff, #c38cc5);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Header{
  font-size: 2rem;
  color: #f3f5f7;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px #20034e;
  font-weight: bold;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.menu, .quiz, .score{
  width: 500px;
  height: 500px;
  background: lightblue;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu button, .quiz button, .score button{
  width: 300px;
  height: 50px;
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #08315c;
  color: white;
  cursor: pointer;
}

button:hover{
  background-color: #11caa2;
  color:azure;
}

.score h1,h2{
  font-size: 2rem;
  color: #450a68;
  text-align: center;
  margin-bottom: 30px;
  flex-direction: column;
}

h2{
  font-size: 3.5rem;
}